.*
*~
*.o
*_ispc.h
*_ispc_sse2.h
*_ispc_avx.h
CVS
CVS/*
*.mp4
*.wmv
*.jpg
*.ppm
ppms
ppms/*
*.log
makeTable
table.out
gnutable*
mandelbrot
testHarness
testHarnessSSE2_*
testHarnessAVX_*
*.mic
*.swp
*.swo
encodewmv43.sh
sbatch_script
squeue_command
ispcavx.asm
